#page {
    width: 100%;
    background-color: #f4f4f4;
    margin: auto;
    font-family: Arial, sans-serif;
}

#header {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#banner {
    background-color: #e0ffff;
    height: 80px;
    font-weight: bold;
    padding-left: 10px;
    display: flex;
    align-items: center;
}

#nav {
    background-color: #a2c4c9;
    font-weight: bold;
    height: 60px;
    padding-left: 10px;
    display: flex;
    align-items: center;
}


#main {
    display: flex;
    height: 300px;
}

#menu {
    width: 25%;
    background-color: #999999;
    padding: 10px;
}

#content {
    width: 50%;
    background-color: #b0b0b0;
    padding: 10px;
}

#sidebar {
    width: 25%;
    background-color: #cccccc;
    padding: 10px;
}

#footer {
    height: 50px;
    font-size: 14px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}