#page{
    width:100%;
    background-color: #FCC;
}

h1{
    text-align: center;
}

#artc {
    width:33%;
    float:left;
    background-color: rgb(133, 132, 132);
    margin:auto;
    
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.text{
    height: 200px;
}

img{
    width:250px;
    height: 150px;
}
#footer{
    text-align: center;
    font-size: 11;
}